services:
  ## MySQL
  mysql:
    image: mysql:8.0-bookworm
    container_name: mysql-inventory
    environment:
        - MYSQL_ROOT_PASSWORD=supersecretpassword
        - MYSQL_DATABASE=inventorydb
    ports:
      - "3306:3306"
    extra_hosts:
      ##    - "host.docker.internal:host-gateway" ## Docker
      - "host.containers.internal:host-gateway" ## Podman
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD" ]
      timeout: 20s
      retries: 10
      interval: 10s
      start_period: 40s

  ## Redis
  redis:
    image: redis:7.4.7-alpine
    container_name: redis-inventory
    ports:
      - "127.0.0.1:6379:6379" ## Fix Podman on WSL Issue
    extra_hosts:
      ##    - "host.docker.internal:host-gateway" ## Docker
      - "host.containers.internal:host-gateway" ## Podman
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      timeout: 10s
      retries: 5
      interval: 5s
      start_period: 10s

  ## Prometheus
  prometheus:
    image: prom/prometheus:main
    container_name: prometheus-invetory
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    extra_hosts:
  ##    - "host.docker.internal:host-gateway" ## Docker
      - "host.containers.internal:host-gateway" ## Podman
    restart: unless-stopped

  ## Grafana
  grafana:
    image: grafana/grafana:main
    container_name: grafana-inventory
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    extra_hosts:
      ##    - "host.docker.internal:host-gateway" ## Docker
      - "host.containers.internal:host-gateway" ## Podman
    depends_on:
      - prometheus

  simple-inventory:
    build: .
    container_name: simple-inventory
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/inventorydb
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=supersecretpassword
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
    depends_on:
      grafana:
        condition: service_started
      redis:
        condition: service_healthy
      mysql:
        condition: service_healthy
